<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/material-ui/4.12.4/index.js" integrity="sha512-wEnX3bNd/CdyrOFR0KIGlHihK/w9x3/It8Vc18aymEF/F/f1q0Mq8T+GSxF1wYUACLEGECapuIYQdQlKY1LBJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
  <script src="../JS/checkout.js" type="module"></script>
  <script src="../JS/checkoutSaveTA.js"></script>
  <link href="../CSS/styles.css" rel="stylesheet">
</head>
<body style="background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../Images/eberhard-grossgasteiger-S-2Ukb_VqpA-unsplash.jpg);">

  <nav class="navbar navbar-expand-sm navbar-dark" style="background: rgba(54, 21, 0, 0.3);">
    <div class="container-fluid">
        <a class="navbar-brand" href="home.html">
            <img src="../Images/logo.png" alt="Avatar Logo" style="width: 70px;" class="rounded-pill">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="mx-auto">
                <ul class="navbar-nav text-center">
                    <li class="nav-item" style="padding-right: 200px;">
                        <a class="nav-link " href="home.html" style="color: #212529; font-size: 25px;"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item" style="padding-right: 200px;">
                        <a class="nav-link" href="tables.html"  style="color: #212529; font-size: 25px;"><strong>Tables</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu.html"  style="color: #212529; font-size: 25px;"><strong>Menu</strong></a>
                    </li> 
                </ul>
            </div> 
            <ul class="navbar-nav text-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  style="color: #212529; font-size: 25px;"><strong>Orders</strong></a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="history.html">Order History</a></li>
                        <li><a class="dropdown-item" href="status.html">Order Status</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <body>
    <div class="d-flex align-items-center flex-column">
      <div style="text-align: center;"><h1>Checkout</h1><br>
      <div id="summary"></div><br>
      <div><p><strong>Special Instructions:</strong></div>
      <div><textarea id="specialInstructionsTA" cols="100" rows="5" onblur="saveSpecialInstructions()"></textarea></div>
      <div><br>
        <button id="payBtn">proceed to pay</button>
        <button id="tempBtn">tempBtn</button>
      </div>
    </div>
  </body>
</html>
