<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/material-ui/4.12.4/index.js" integrity="sha512-wEnX3bNd/CdyrOFR0KIGlHihK/w9x3/It8Vc18aymEF/F/f1q0Mq8T+GSxF1wYUACLEGECapuIYQdQlKY1LBJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
  <script src="../JS/checkoutTemp.js" type="module"></script>
  <script src="../JS/checkoutTempNM.js"></script>
  <link href="../CSS/stylesCheckout.css" rel="stylesheet">
</head>
<body style="background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../Images/eberhard-grossgasteiger-S-2Ukb_VqpA-unsplash.jpg);">

  <nav class="navbar navbar-expand-sm navbar-dark" style="background: rgba(54, 21, 0, 0.3);">
    <div class="container-fluid">
        <a class="navbar-brand" href="home.html">
            <img src="../Images/logo.png" alt="Avatar Logo" style="width: 70px;" class="rounded-pill">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="mx-auto">
                <ul class="navbar-nav text-center">
                    <li class="nav-item" style="padding-right: 200px;">
                        <a class="nav-link " href="home.html" style="color: #212529; font-size: 25px;"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item" style="padding-right: 200px;">
                        <a class="nav-link" href="tables.html"  style="color: #212529; font-size: 25px;"><strong>Tables</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu.html"  style="color: #212529; font-size: 25px;"><strong>Menu</strong></a>
                    </li> 
                </ul>
            </div> 
            <ul class="navbar-nav text-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  style="color: #212529; font-size: 25px;"><strong>Orders</strong></a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="history.html">Order History</a></li>
                        <li><a class="dropdown-item" href="status.html">Order Status</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
  
<div class="container px-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <h4 class="heading">Preview Order</h4>
        </div>
        <div class="col-7">
            <div class="row text-right">
                <div class="col-4">
                    <h6 class="mt-2">Quantity</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Price</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Total</h6>
                </div>
            </div>
        </div>
    </div>

    <div id="summary"></div>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="row">
                    <div class="col-lg-3 radio-group">
                        <div class="row d-flex px-3 radio">
                            <img class="pay" src="../Images/mastrercard.jpg">
                            <p class="my-auto">Credit Card</p>
                        </div>
                        <div class="row d-flex px-3 radio gray">
                            <img class="pay" src="../Images/visa.jpg">
                            <p class="my-auto">Debit Card</p>
                        </div>
                        <div class="row d-flex px-3 radio gray mb-3">
                            <img class="pay" src="../Images/paypal.jpg">
                            <p class="my-auto">PayPal</p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row px-1 justify-content-center">
                            <div class="form-group col-md-10">
                                <label class="form-control-label">Tables Number Selected</label>
                                <h5 id="tablesSelectedText"></h5><br>
                            </div>
                            <div class="form-group col-md-10">
                                <label class="form-control-label">Special Instructions</label>
                                <textarea id="specialInstructionsTA" cols="100" rows="5" onblur="saveSpecialInstructions()"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2">
                        <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">Menu Subtotal</p>
                            <h6 class="mb-1 text-right" id="menuSubtotalId">70</h6>
                        </div>
                        <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">Table Subtotal</p>
                            <h6 class="mb-1 text-right" id="tableSubtotalId">50</h6>
                        </div>
                        <div class="row d-flex justify-content-between px-4" id="tax">
                            <p class="mb-1 text-left">Total (tax included)</p>
                            <h6 class="mb-1 text-right" id="totalPTP">$26.48</h6>
                        </div>
                        <button class="btn-block btn-blue">
                            <span>
                                <span id="checkout">proceed to pay</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div><br>
        <button id="tempBtn">tempBtn</button>
      </div>
</div>
</body>
</html>
